---
	import Layout from "../layouts/Layout.astro";
	import ListaAnime from "./animes/listfilt";
	


---

	<Layout title="Lista anime">
		<main>
			<ListaAnime client:load/>
		</main>
	</Layout>

	<style></style>
