---

---

<footer>
    <div class=" py-6 relative pl-6 pr-6 ">
    <div class="bg-slate-900 container mx-auto px-8 rounded-md text-center">
      <p class="text-white">Todos los derechos reservados</p> 
    </div>
    </div>
</footer>

<style>

</style>